* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  min-width: 0;
  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: row; */
  /* flex-shrink: 1; */
}

header {
  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: row; */
  /* position: fixed; */
}

main {
  /* min-height: 2000px; */
  /* min-width: 0; */
  /* border: 8px solid black; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  /* flex-shrink: 1; */

  /* display: grid; */
  /* grid-template-rows: 1fr 2fr; */
  /* place-items: center; */

  /* align-content: space-evenly; */
}

#thumbnail-container {
  /* max-height: 50rem; */
  /* min-width: 0; */
  /* max-width: 400rem; */
  /* width: 500px; */
  /* height: 500px; */
  /* min-width: 100px; */
  /* min-height: 100px; */
  /* max-width: 100px; */
  /* max-height: 100px; */

  border: 8px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 1;
  /* position: fixed; */
  /* z-index: 1; */
}

#fullscreen-container {
  min-width: 0;
  max-width: 100%;
  border: 8px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex-shrink: 1; */
  z-index: -1;
  /* padding-top: 50rem; */
}

#fullscreen-container img {
  /* display: flex;
  flex-shrink: 1;
  min-width: 0; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#thumbnail {
  /* display: flex; */
  /* flex-shrink: 1; */
  /* min-width: 10rem; */
  /* min-height: 10rem; */
  /* max-width: 10rem; */
  /* max-height: 10rem; */
  width: 150px;
  height: 150px;
}

/* .border {
  background-color: blue;
  width: 20rem;
  height: 100%;
  display: flex;
} */

@media (min-width: 800px) {
  main {
    justify-content: flex-start;
    flex-direction: column-reverse;
  }
}
