* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  min-width: 0;
  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: row; */
  /* flex-shrink: 1; */
}

header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* position: fixed; */
}

main {
  /* min-height: 2000px; */
  /* min-width: 0; */
  /* border: 8px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  /* flex-shrink: 1; */

  /* display: grid; */
  /* grid-template-rows: 1fr 2fr; */
  /* place-items: center; */

  /* align-content: space-evenly; */
}

#thumbnail-container {
  /* max-height: 50rem; */
  min-width: 0;
  max-width: 400rem;
  border: 8px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 1;
  position: fixed;
  z-index: 1;
}

#fullscreen-container {
  min-width: 0;
  max-width: 90rem;
  border: 8px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 1;
  z-index: -1;
  /* padding-top: 50rem; */
}

#fullscreen-container img {
  /* display: flex;
  flex-shrink: 1;
  min-width: 0; */
  object-fit: cover;
  width: 100%;
}

#thumbnail {
  /* display: flex; */
  /* flex-shrink: 1; */
  min-width: 10rem;
  min-height: 10rem;
  max-width: 10rem;
  max-height: 10rem;
}

.border {
  background-color: blue;
  width: 20rem;
  height: 100%;
  display: flex;
}
