* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: row; */
  /* flex-shrink: 1; */
}

main {
  /* min-height: 2000px; */
  /* min-width: 0; */
  /* border: 8px solid black; */
  /* min-height: 100vh; */
  /* min-width: 25vw; */
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  /* align-content: center; */
  /* flex-shrink: 1; */

  /* display: grid; */
  /* grid-template-rows: 1fr 2fr; */
  /* place-items: center; */

  /* align-content: space-evenly; */
}

#thumbnail-container {
  border: 8px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 1;
}

#fullscreen-container {
  /* min-width: 0; */
  /* max-width: 100%; */
  border: 8px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
}

#fullscreen-container img {
  /* width: 100%; */
  /* height: 100%; */
  /* object-fit: contain; */
}

#thumbnail-container img {
  width: 150px;
  height: 150px;
}

@media (min-width: 800px) {
  main {
    flex-direction: column;
  }
}
